.header-main {
  position: relative;
}

.header-main__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 3rem;
}

.header-main__separator {
  display: block;
}

@media (min-width: 40rem) {
  .header-main {
    position: relative;
  }
}
