<section class="section container not-found">
  <div class="not-found__content">
    <h1 class="not-found__title"><%= title %></h1>
    <p class="not-found__message"><%= message %></p>
    <a href="<%= path %>" class="button button--primary button--lg"
      >Volver atras</a
    >
  </div>
</section>
